.app__navbar {
  width: 100%;
  height: 60px;;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(150, 150, 150, 0.2);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;

    flex-direction: column;

    a {
      color: var(--black-color);
      text-decoration: none;
      flex-direction: column;

      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;

      transition: all 0.3s ease-in-out;

      &:hover{
        color: var(--third-color);
        border-bottom: 3px solid var(--third-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.app__navbar-links-mobile {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  box-shadow: 0 -1px 12px;
  width: 95%;
  height: 4rem;
  padding: 0 1rem;
  display: grid;
  align-content: center;
  border-radius: 1.25rem 1.25rem 0 0;
  transition: .4s;
  z-index: 2;

  .app__nav-list,
  .app__nav-link {
    display: flex;
  }

  .app__nav-link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--third-color);
    font-size: 3rem;
    font-weight: 500;
  }

  .app__nav-list{
    list-style-type: none;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}